1 ICON  DISCARDABLE "syncing.ico"
2 ICON  DISCARDABLE "error.ico"
3 ICON  DISCARDABLE "synced.ico"
4 ICON  DISCARDABLE "partial-synced.ico"
5 ICON  DISCARDABLE "locked-by-others.ico"
6 ICON  DISCARDABLE "locked-by-me.ico"
7 ICON  DISCARDABLE "readonly.ico"
8 ICON  DISCARDABLE "cloud.ico"
9 ICON  DISCARDABLE "paused.ico"
