Package: seadrive-dfm-ext
Version: 1.0.0
Architecture: amd64
Maintainer: Jonathan Xu <jonathan.xu@seafile.com>
Installed-Size: 79
Depends: libc6 (>= 2.14), libdfm-extension, libgcc1 (>= 1:3.0), libstdc++6 (>= 5)
Section: net
Priority: extra
Homepage: https://www.seafile.com
Description: Seafile Drive DFM Extension.
 Seafile is an open source cloud storage system with features
 on privacy protection and teamwork. Collections of files are
 called libraries, and each library can be synced separately.
 A library can also be encrypted with a user chosen password.
 Seafile also allows users to create groups and easily sharing
 files into groups.
